<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BoardConnection" connectionString="Host=ep-young-fire-a81ppksr-pooler.eastus2.azure.neon.tech;Port=5432;Username=neondb_owner;Password=npg_gmcuiq1ov0Qr;Database=neondb;SSL Mode=Require;Trust Server Certificate=true"/>
	</connectionStrings>
</configuration>